@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

/*GENERALES*/
:root{
    --color-principal: #6610f2;
    --color-secundario: #0c91e5;
    --color-alternativo: #ff6537;
    --gris-default: #6c757d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

html{
    scroll-behavior: smooth; /*Es para que el scroll sea lento y lindo*/
}

a{
    text-decoration: none;
}

.btn{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: var(--color-secundario);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s;
}

.btn:hover{
    background: #08629a;
}

.btn-top{
    position: fixed; /*Para que aparezca en el mismo lugar, en toda la pagina web*/
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: var(--color-alternativo);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 20px;
    color: #fff;
    z-index: 1;
    transition: all .5s;
    border-radius: 50px;
}

.btn-top:hover{
    opacity: 1;
}

.badge{
    background: var(--color-principal);
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 5px 12px; /*le da relleno al boton*/
    cursor: default; /*el cursor no se modifica, como si no existiera ningun elemento*/
    transition: all .5s; 
}

/* MENU SOCIALES */
.nav-sociales{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-principal);
}

.nav-sociales a{
    color: #fff;
    opacity: 0.5;
    font-size: 16px;
    margin: 0 40px;
    transition: all .5s;
}

.nav-sociales a:hover{
    opacity: 1;
}

/* MENU PRINCIPAL */
.nav-principal{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between; /*para que los elementos se separen*/
    align-items: center; /*Para centrar de forma vertical*/
    padding: 30px;
}

.nav-principal img{
    width: 250px;
    cursor: pointer;
}

.nav-principal .input-search{
    width: 40%; /*ancho del 40*/
    position: relative;
}

.nav-principal .input-search input{
    width: 100%; /*Para que ocupe el 100% del 40% declarado en el contenedor anterior*/
    height: 35px;
    border-radius: 50px;
    border: 1px solid #c4c4c4;
    color: var(--gris-default);
    outline: none; /*para que desaparezca cuando le demos click*/
    padding: 0 50px 0 30px; /*0 de arriba, 50 de la derecha 0 de abajo y 30 de la izquierda*/
}

.nav-principal .input-search input::placeholder{
    letter-spacing: 1px;
    color: #ccc;
    padding: 20px;
}

.nav-principal .input-search i{ /*vamos a entrar al input-search pero en este caso a la etiqueta i*/
    position: absolute; /*Por que el contenedor principal (.nav-principal .input-search) tiene un position relativ, al ponerle aca un absolut, lo podemos mover donde queramos*/
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-alternativo);
}

.nav-principal .enlaces a{
    font-size: 14px;
    padding: 10px 15px;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--gris-default);
    border-radius: 50px;
    transition: all .5s;
}

.nav-principal .input-search:focus{
    border: 3px solid #08629a;
    padding: 0 0 0 16px;
}

.nav-principal .enlaces a:hover{
    color: #fff;
}

.nav-principal .enlaces a:nth-child(1):hover{
    background: #c27838;
}

.nav-principal .enlaces a:nth-child(2):hover{
    background: #c142aa;
}

.nav-principal .enlaces a:nth-child(3):hover{
    background: #2bb5d5;
}

/* HEADER */
header{
    width: 100%;
    height: calc(100vh - 110px);/*Para que no tenga scroll tenemos que restar el nav principal y el nav de sociales, mas el padding que le hemos asignado. todo suma mas o menos 95px*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

header .imagen-header{
    width: 50%;
    height: 100%;
    background: url(10ProyectoJuegos/img/game1.png);
    background-size: cover;
    background-position:center;
    clip-path: circle(70% at 70% 50%);
    z-index: 1;
    transition: all .5s;
}

header .content-header{ /*Le decimos que ocupe la mitad de la pantalla, de esa forma la imagen se ve mas grande y mas bonita*/
    width: 50%;
}

header .content-header *{/*a todos los elementos que tengo en el .conten-header les vamos a aplicar..*/
    margin: 10px 0;
}

header .content-header h3{
    font-size: 65px;
    font-weight: 300;
}

header .content-header p{
    font-size: 19px;
}

/* DESTACADOS */
.destacados{
    display: flex; /*Para poder centrarlo */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.destacados::before{
    content: 'DESTACADOS';
    position: absolute; /*Lo que permite el absolute es que la palabra DESTACADOS se posicione en el medio de las 4 cards */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 10em;
    color: rgba(0, 0, 0, 0.1);
}

.game{
    position: relative;
    width: 45%;
    height: 350px;
    margin: 40px 20px;/*Para que se separe de las otras cartas 40 arriba y abajo y 20 a los costados*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all .5s;
}

.game:nth-child(1){
    background: linear-gradient(45deg, #10214C, #DA3DBE);
}

.game:nth-child(2){
    background: linear-gradient(160deg, #0b141b, #c6dafa);
}

.game:nth-child(3){
    background: linear-gradient(45deg, #000, #989a9b);
}

.game:nth-child(4){
    background: linear-gradient(90deg, #432d20, #b70000);
}

.game img{
    position: absolute; /*colocando esto, la imagen se va a poner arriba del texto, porque al darle un tama単o apropiado, nos veneficiara con el efecto*/
    left: 50%; /*Sin hover*/
    bottom: 0;
    transform: translate(-50%);
    height: 380px;
    z-index: 1; /*para que siempre este por encima de la card*/
    transition: all 1s;
}

.game:hover img{
    left: 85%; /*Con hover*/
    height: 400px;
}

.game .content{
    position: relative;
    width: 65%;
    left: 20%; /*No lo queremos ubicar ahi, pero para el efecto va como trompada de tonto*/
    padding: 20px 20px 20px 40px;/*20 arriba, 20 a la derecha, 20 abajo y 40 a la izquierda*/
    color: #fff;
    transition: all 1.5s;
    opacity: 0;
}
 
.game:hover .content{
    left: 0;
    opacity: 1;
}

.game .content h2{
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
}

.game .content a{
    position: relative;
    color: #000;
    background: #fff;
    display: inline-block; /*Respeta tama単os*/
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 700;
}

/* ARTICULOS */
/* Titulo de articulo */
.title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px 0 20px 0;
}

.title::before{
    content: 'Blog';
    position: absolute; /*ya que el contenedor principal es relative y queremos crear la misma palabra pero en gris y atras de la posta, osea, queremos mover el elemento dentro del elemento principal, le mandamos absolute*/
    top: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14em;
    z-index: -1; 
    color: rgba(0, 0, 0, 0.1);
}

.title h1{
    font-size: 75px;
    font-weight: 300;
}

.title .badget-container{
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*se acaba el espacio, continual los elementos uno bajo el otro*/
    width: 100%;
}

.title .badget-container .badge{
    background: transparent;
    color: var(--gris-default);
    border: 1px solid var(--gris-default);
}

.title .badget-container .badge:hover{
    background: var(--color-principal);
    color: #fff;
    border: 1px solid transparent;
}

/* Seccion de articulos */
.articulos{
    position: relative;
    padding: 50px;
    display: flex; /*Separa el meno de enlaces de la foto*/
    justify-content: space-around;
}

.container-articulos{
    margin: 0 100px 0 0; /*Estoy separando la imagen del meno que tiene al lado*/
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 100px 0;
}

.card:nth-child(1){
    margin: 0 0 100px 0;
}

.card .imgBox{
    width: 80%; /*Vamos a decir que ese contenedor tendra el 80%*/
    height: 100%; /*y de alto el 100*/
}

.card .imgBox img{ /*Al tener el contenedor un tama単o del 80% yo quiero que tu, como imagen, te acoples al 100% de ese contenedor, en ancho y alto*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.card .content{ /*content = titulo + parrafo + boton*/
    padding-left: 20px;
}

.card .content *{ /*A todos los elementos que estan dentro del content*/
    margin: 15px 0;
}

.card .content h3{
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
}

.card .content p{
    font-size: 18px;
}

/* MENU LATERAL */
aside{
    width: 50%;
    height: 100%;
    background: var(--color-secundario);
    box-shadow: 0 0 10px 0 var(--color-secundario);
    padding: 20px;
    border-radius: 5px;
    position: sticky;
    top: 20px;
}

aside nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

aside nav a{
    margin: 15px 0;
    color: #fff;
    opacity: 0.5;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    transition: all .5s;
}

aside nav a:hover{
    opacity: 1;
}

/* GALERIA DE IMAGENES */

.gallery{
    display: flex;
}

.gallery{
    flex: 30%; /*ordenamos que todas las imagenes sean del mismo tama単o*/
}

.gallery .column .imgContainer{
    height: 300px;
    position: relative;
    overflow: hidden;
}

.gallery .column img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}

.gallery .column .imgContainer:hover img{
    transform: scale(1.1);
}

/* footer Copy */
footer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #581abd;
}

footer p{
    font-size: 14px;
    font-style: italic;
    color: #fff;
    opacity: 0.5;
}

